* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}

ul, ol, li {
        list-style: none;
}

.example {
    margin-top: 50px;
    height: 1000px;
    color: #FFF;
    position: relative;
}
    .example-item {
        width: 25%;
        height: 150px;
    }
    .example-item_first {
        background-color: #FAA116;
        position: relative;
    }
    .example-item_second {
        background-color: #57C7C3;
        position: relative;
    }
    .example-item_third {
        background-color: #3B97D3;
        position: absolute;

    }

    .esconder{
        display: none;
    }
    .example-item_first:hover{
        .bg-preto{
            transition: .5s;
            position: absolute ;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .5;
        }
    }